# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.MazeQuizUniversityProject.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Adomas\Desktop\procesu labor 3\QuizGame\PVUnity\MazeQuizUniversityProject\.idea\.idea.MazeQuizUniversityProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
